*.vpwhistu
*.vtg
*.rom
*.img
*.mac
*.lis
*.ol
*.ob
*.od
*.lda
*.ln
*.vlda
*.hex
*.o
*~
*.exe
*.map
*.zip
mac11
mac65
mac68
mac69
mac68k
mac682k
macas
macpp
mactj
mac8080
*.LST
*.LDA
*.MAP
*.OBJ
*.V05
*.ROM
*.s
*.asm
*.mix
*.opt
*.toc
old
tim
test
*.exe
.vscode
